.neomo-test {
    margin: 100px 100px;
    max-width: 560px;
    
    &-ui {
        display: flex;
        flex-direction: column;
        gap: 75px;
    }

    .point-orange {
        border-color: $secondary-color;
    }
}

