<div class="floor-options">
    <div class="floor-options-item">
        <div>Номер будинку:</div>
        <div>15</div>
    </div>
    <div class="floor-options-item">
        <div>Поверх:</div>
        <div>1</div>
    </div>
    <div class="floor-options-item">
        <div>Номер квартири:</div>
        <div id="flat-number">1</div>
    </div>
    <div class="floor-options-item">
        <div>Кіл-сть кімнат:</div>
        <div>3</div>
    </div>
    <div class="floor-options-item">
        <div>Площа квартири:</div>
        <div>82.3</div>
    </div>
    <div class="floor-options-item">
        <div>Ціна за м²:</div>
        <div>1100$</div>
    </div>
    <div class="floor-options-item">
        <div>Вартість квартири:</div>
        <div>90530$</div>
    </div>
    <div class="floor-options-item">
        <div>Статус квартири:</div>
        <div class="flat-status-test">Продано</div>
    </div>
</div>